        <ul>
{% for committee in committees %}
          <li>{{committee.name}}</li>
{% endfor %}
        </ul>
        <ul>
          <li id="new-committee">Lancer une nouvelle commission</li>
          <li id="edit-committee">Editer une commission</li>
          <li id="disolve-committee">Dissoudre une commission</li>
        </ul>
        {{slug}}
