        <hr />
        {% for complaint in committee.complaints %}
        {% if complaint.isCensored %}
        <div class="censored">
          <p>Dol&eacute;ance censur&eacute;e : {{ complaint.censorshipJustification }}</p>
        </div>
        {% else %}
        <div class="complaint">
          <h3>{{ complaint.title }}</h3>
          <p>{{ complaint.message }}</p>
        </div>
        {% endif %}
        <hr />
        {% else %}
        <p>Aucune dol&eacute;ance soumise pour l'instant.</p>
        {% endfor %}
