<h1>R&eacute;digez votre dol&eacute;ance&nbsp;!</h1>

<form action="{{ path('doleances_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Create</button>
    </p>
</form>
